* {
    margin: 0;
}

.grid {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 200px 1fr 250px 50px;
    grid-template-areas: "my-header""my-nav""my-section""my-aside""my-footer";
    overflow: hidden;
    border: 2px solid yellow;
}

header {
    grid-area: my-header;
    background-color: turquoise;
}

nav {
    grid-area: my-nav;
    background-color: grey;
}

aside {
    grid-area: my-aside;
    background-color: rgb(144,4,140);
}

section {
    grid-area: my-section;
    background-color: indigo;
    padding: 10px ;
}

footer {
    grid-area: my-footer;
    background-color: rgb(160, 52, 204);
}

.piepagina {
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    color: white;
    margin-top: 3%;
}

header>p {
    font-size: 20px;

    font-family: 'Franklin Gothic Medium';

}

header>h3 {
    font-family: Arial;
    color: red;
    font-size: 13.5px;
}

header>img {
    width: 112px;
    height: 112px;
    margin-top: -69px;
    margin-left: 200px;
}

/*-------------------------*/
nav>ul{
    list-style: none;
    line-height: 30px;
    padding: 20px;
}
.menu li a{
    color: white;
}

.menu a:hover{
    color:red;
}
.menu{
    text-align: center;
    font-family: Arial;
}
/*-------------------------*/

article{
    width: 96%;
    height: 96%;
    margin: 2.5% auto;
    padding: 7%;
    box-sizing: border-box;
    background-color: gainsboro;
    color: black;
    font-family: Arial;
}
article img{
    width: 70px;
    float: left;
    margin-right: 20px;
}
article p{
    text-align: justify;
    font-size: 14px;
    
}

article h2{
    font-size: 15px;
    
}
/*-------------------------*/

aside{
    padding: 20px;
    font-family: Arial;
    color: white;
}


@media(min-width: 600px) and (max-width: 1000px) {
    .grid {
        max-width: 1000px;
        margin: auto;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 200px 1fr 100px;
        grid-template-areas: "my-header my-header""my-nav my-nav""my-aside my-section ""my-footer my-footer ";

    }

    header>p {
        font-size: 30px;
    }

    .piepagina {
        font-size: 13px;
        margin-top: 5%;
    }

    header>h3 {
        font-size: 20.2px;
    }

    header>img {
        width: 162px;
        height: 162px;
        margin-top: -96px;
        margin-left: 350px;
    }

    .menu{
        text-align: center;
    }
    
    

}

@media(min-width: 1001px) {
    .grid {
        max-width: 1000px;
        margin: auto;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 230px 1fr 230px;
        grid-template-rows: 200px 1fr 50px;
        grid-template-areas: "my-header my-header my-header""my-nav my-section my-aside""my-footer my-footer my-footer";
    }

    header>p {
        font-size: 40px;
    }

    .piepagina {
        font-size: 13px;
        margin-top: 0.5%;
    }

    header>h3 {
        font-size: 27px;
    }

    header>img {
        width: 215px;
        height: 220px;
        margin-top: -132px;
        margin-left: 770px;
    }

    .menu{
        text-align: left;
    }
    
    

}